.navbar-container {
   background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
 }

 /* Remove background colors and colors */
.navbar-container,
.navbar-container a,
.navbar-container button,
.navbar-container svg,
.navbar-container span {
  background-color: transparent !important;
  color: inherit !important;
}

/* ... Other styles ... */

h3 {
   margin: 0;
   font-family: "Open Sans", sans-serif;
   font-size: clamp(1.2rem, 3vw, 3rem);
   text-decoration: none;
   background: 
      linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
      linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
   background-size: 100% 0.1em, 0 0.1em;
   background-position: 100% 100%, 0 100%;
   background-repeat: no-repeat;
   transition: background-size 400ms;
}
 
h3:hover,
h3:focus {
background-size: 0 0.1em, 100% 0.1em;
}